
:root {
  /* cores padrão */
  --color-1: #d6a41a;
  --color-2:  #8986dc;
  --color-3: #f77;
  --color-4: #434343;
  --color-5: #fff;
  --color-background: #000000;
  /* barra de progresso */
  --progressbar-background: #777;
  --progressbar-collor: #0dff00;
  --progressbar-border: solid 1px #ddd;
  /* cores botão */
  --button-color-1: #0dff00;
  --button-color-2: #045600;
  --button-color-3: #ffffff;
  --button-color-4: #67a938;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-color: var(--color-background);
  ba
}

.perfilimage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
.perfilimage img{
  width: 300px;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--color-4);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--button-color-1);  /* creates padding around scroll thumb */
}

/* Menu */

header {
  background: var(--color-4);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: "Concert One", sans-serif;
  font-size: 10pt;
  position: fixed;
  width: 100%;
  bottom: 0;
}

header ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
}
 header a{
  text-decoration: none;
  text-transform: uppercase;
  
  margin: 0 1rem;
 }

 header img {
  width: 40px;
  filter: hue-rotate(100deg);
 }

 header img:hover{
  width: 50px;
  transform: scale(50px);
  filter: drop-shadow(0rem 0rem 1rem var(--button-color-1));
  transition: all 250ms ease-out;
 }


/* Home */

#home {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem 10rem 1rem;
  color: #fff;
  height:75dvh;
}

#home p{
  max-width: 500px;
  margin-bottom: 2rem;
  color: #67a938;
}

#home h1{
  font-size: 50pt;
  color: var(--color-1);
  font-family: "Concert One", sans-serif;
}


#home h2{
  color: var(--color-2);
}

#home button{
  font-size: 10pt;
  padding: 1rem;
  color: var(--button-color-1);
  background-color: var(--button-color-2);
  font-family: "Press Start 2P", system-ui;
}
#home button:hover{
  background-color: var(--button-color-1);
  color: var(--button-color-2);
  transition: all 450ms ease-in-out;
}

#nav {
  display: flex;
  flex-direction: column;
}

/* Sobre */

#about {
  background-color: var(--color-background);
  display: block;
  justify-content: start;
  align-items: center;
  padding: 5rem 1rem 7rem 1rem;
  
  height: fit-content;
}

.divcontent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  padding: 5rem 1rem 5rem 3rem;
}



#about span{
  color: var(--color-2);
}

#about p{
  color: var(--color-3);
}

.destaque{
  color: #fff;
  font-weight: lighter;
}
#about h2{
  text-align: start;
  font-family: "Concert One", sans-serif;
  color: var(--color-1);
}
.h2style{
  text-align: start;
  font-family: "Concert One", sans-serif;
  color: var(--color-1);
  justify-content: left;
  font-size: 25pt;
}

/* Skills */

#skills{
  color: var(--color-background);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2rem;
  
}

#skills h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#skills h3{
  color: var(--color-2);
}

.skillprog{
  background-color: var(--progressbar-background);
  width: 250px;
  height: 20px;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  align-content: center;
  display: flex;
  border: var(--progressbar-border);
}

#html::before{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  content: "35%";
  width: 35%;
  background-color: var(--progressbar-collor);
}

#css::before{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  content: "80%";
  width: 80%;
  background-color: var(--progressbar-collor);
}

#JavaScript::before{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  content: "5%";
  width: 5%;
  background-color: var(--progressbar-collor);
}

#github::before{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  content: "75%";
  width: 75%;
  background-color: var(--progressbar-collor);
}

/* Projetos */

#projects {
  color: var(--color-background);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 1rem 1rem 1rem;
}
#projects h2{
  text-align: start;
  font-family: "Concert One", sans-serif;
  color: var(--color-1);
}

.portfoliocontainer{
  overflow-x: scroll;
  max-width: 100%;
}



.slide-list{
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  --total-items: 4;
	width: calc(var(--total-items) * 30vw);
}

.portfoliocontent{
  width: 250px;
  height: 400px;
  background: var(--color-4);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 1rem;
  padding: 2rem;
}

.portfoliocontent span{
  color: var(--color-2);
}

.portfoliocontent p{
  color: var(--color-3);
}

.portfoliocontent img{
  border-radius: 5px;
}
/* Contato */

#contato {
  display: flex;
  flex-direction: column;
  
  padding: 1rem 1rem 1rem 1rem;

}

#formcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#contato h2{
  text-align: start;
  font-family: "Concert One", sans-serif;
  color: var(--color-1);
}

#formulario {
  background-color: var(--color-4);
  border-radius: 15px;
  max-width: 400px;
  padding: 2rem 1rem 5rem 1rem;
}

#formulario input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--button-color-3);
}

#formulario textarea{
  width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--button-color-3);
}

#formulario button{
  background-color: var(--button-color-4);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  font-size: 15pt;
  margin-top: 1rem;
}

.hiden {
  display: none;
}

/* Dispositivos móveis */

@media (min-width: 850px) or (orientation: landscape) {
  .hiden {
    display: block;
  }

  .mobile{
    display: none;
  }

  body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  #home, #about, #projects, #contato{
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-background);
  }

  .perfilimage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0rem;
  }

  header {
    height: 100%;
    padding: 1rem;
    width: 50px;
    right: 0;
  }

  header ul{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  header a{
    margin: 0;
  }

  header ul li{
    margin: 2rem 0;
  }

  #home {
    background-image: url("source/portfolio-willrosa-background.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: calc(100vw - 106px);
    height: 100vh;
  }

  #about{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 106px);
    height: 100vh;
    justify-content: space-between;
    padding: 0;
  }

  #info, #skillcont{
    padding: 1rem 10rem 1rem 1rem;
  }

  .divcontent{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    padding: 1rem 1rem 1rem 3rem;
  }

  #projects{
    height: 100vh;
    max-width: calc(100vw - 106px);
    padding: 1rem 1rem 1rem 0rem;
  }

  .portfoliocontainer::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .portfoliocontainer::-webkit-scrollbar-track {
    background: var(--color-4);        /* color of the tracking area */
    border-radius: 1rem;
  }
  
  .portfoliocontainer::-webkit-scrollbar-thumb {
    background-color: var(--button-color-1);    /* color of the scroll thumb */
    border-radius: 1rem;       /* roundness of the scroll thumb */
    border: 3px solid var(--color-4);  /* creates padding around scroll thumb */
  }

  #contato {
    width: calc(100vw - 106px);
    height: 100vh;
    padding: 1rem 0 0 1rem;
    margin: 0;
  }
}